// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------

* {
  margin: 0;
  padding: 0;
  border: 0;
}

*:focus {
  outline: 0 !important;
}

body,
html,
#root {
  min-height: 100vh;
}

ul {
  margin: 0 !important;
}

#root {
  display: flex;
  flex-direction: column;
}


img {
  max-width: 100%;
  height: auto;
}

ol,ul{
  padding: 0;
}

ol:not(.ck ol),
ul:not(.ck ul) {
  list-style-type: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: $x6;
  -webkit-box-shadow: 0 0 0 1000px $x7 inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: $x6;
}


input.success,
textarea.success {
  border-color: var(--bs-green);
}


input.error,
textarea.error {
  border-color: var(--bs-red);
}

.input-group-custom{
  margin-right: .5rem !important;
  background-color: $x1;
}

button {
  @include on-event(true) {
    color: white !important;
  }
}

input:placeholder-shown {
  text-overflow: ellipsis;
}

.btn:focus{
  box-shadow: none;
}

textarea {
  resize: none;
}

[name="shortLink"]{
  direction:ltr
}

.empty-info {
  justify-content: center;
  align-items: center;
  display: flex;
  padding: 30px;
  color: white;
}

.notfound,
.access-deny {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: auto;
}

.ck-content > ol,
.ck-content > ul {
  margin: revert !important;
  padding: revert !important;
  color: white;

  & li {
    padding: 10px 0;
  }
}

.text-overflow {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.loadingMessage,
.errorMessage,
.no-info {
  color: white;
}

.content-block{
  position: absolute;
  z-index: 1000;
  opacity: .4;
  background-color: $x7 !important;
  inset: 0;
  width: 100%;
  height: 100%;
}


@include media('md-min') {
  .container {
    width: 750px;
  }
}

@include media('lg-min') {
  .container {
    width: 970px;
  }
}

@include media('xl-min') {
  .container {
    width: 1170px;
  }
}

