/**
 * Basic typography style for copy text
 */

:root {
  font-size: 62.5%;
}

body {
  direction: $direction-base;
  text-align: $text-align-base;
  font-family: $font-family-base, $font-family-sans-serif,
    $font-family-monospace !important;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
  overflow-x: hidden;
  background-color: $x2;
}

.form-control,
.btn {
  font-size: $font-size-base;
}

ul li,
ol li {
  font-size: $font-size-base;
  font-weight: $font-weight-base;
}

a {
  text-decoration: none;
  color: $x1;
  font-size: $font-size-base;
  @include on-event {
    color: $x1;
    text-decoration: none;
  }
}

#{h1,
h2,
h3,
h4,
h5,
h6} {
  line-height: normal;
  color: $x6;
  margin-bottom: 1.3rem;
  font-weight: bold;
}

@each $name, $value in $heading {
  #{$name} {
    font-size: $value;
  }
}

p {
  margin: 1em 0;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: 25px;
  color: $x6;
}

span {
  font-size: $font-size-base;
}

small {
  font-size: 0.833em;
}

em,
i {
  font-style: italic;
}

strong,
b {
  font-weight: bold;
}

code,
pre {
  font-family: $font-family-base !important;
}
