@import '../../abstracts', '../../base/helpers';

.home {
  @include element('generate-link') {
    max-width: 59rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;

    @include media('sm-max') {
      margin-bottom: 5rem;
    }
  }
  @include element("card")
  {
    max-width: 90rem;
  }

  @include element('title') {
    font-size: $h4-font-size;
    @include media("xl-min")
    {
      font-size: $h4-font-size;
    }
  }

  @include element('custom-link') {
    max-width: 40rem;

    &-prepend {
      direction: ltr;
      background-color: #393939 !important;
      color: #969696 !important;
      border: none !important;
    }

    &-button-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 4.8rem;

      @include media('xs-max') {
        max-width: 100%;
      }

      & span {
        color: white;
      }

      button {
        background: $x8;
        padding: 0.8rem 0;
        border-radius: 2.7rem;
        width: 15rem;
      }
    }
  }
  @include media('sm-max') {
    width: 100%;
  }
}
