@import '../../abstracts', '../../base/helpers';

.notification {
  @include modifier('card') {
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 2rem;
    & span {
      color: white;
    }
  }

  @include element('title') {
    margin-bottom: 0;
    color: $x1;
  }

  @include element('header') {
    border-bottom: 2px dashed rgba(255, 255, 255, 0.51);
    display: flex;
    padding-bottom: 1rem;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  @include element('html-parser') {
    & ol,
    & ul {
      padding: 0 1rem;
    }
  }

  & ol li,
  & ul li,
  & p {
    margin: 1rem 0;
    color: white;
  }
}
