@import '../../abstracts', '../../base/helpers';

.register {
  max-width: 75rem;
  & .btn__custom {
    width: 320px;
  }
  @include element('have-account') {
    margin-top: 1rem;
    color: $x4;
  }
}
