@import '../../abstracts', '../../base/helpers';

.viewer-statistics {
  @include element('short-link') {
    max-width: 59rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10rem;
    @include media('sm-max') {
      margin-bottom: 5rem;
    }
  }
  @include element("card"){
    max-width: 90rem;
  }
}
