@import "../abstracts/index";
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  background-color: $backdrop-background-color;
  opacity: 0;
  visibility: hidden;
  inset: 0;
  z-index: $backdrop-z-index;
  transition: 0s ease;
  @include modifier("open")
  {
    opacity: $backdrop-opacity--open;
    visibility: visible;
  }
}
