%dff {
  position: relative;
  color: white;
  padding: 1rem 1.5rem;
  background-color: $x14 !important;
  border: 1px dashed $x15;
}

.btn {
  @include element("custom") {
    border-radius: 2.7rem;
    padding: .5rem;
    background-color: $x1;
    @include modifier("mutate") {
      border-radius: 0.3rem;
      background-color: $x8;
      padding: 0.6rem 1rem;
    }
    @include modifier("copy") {
      @extend %dff
    }
    @include modifier("download") {
      @extend %dff
    }
    @include media('xs-max') {
      width: 100% !important;
    }
  }
}


