@import '../abstracts/index';

.Modal {
  background-color: $modal-background;
  box-shadow: 0 0 10px -5px;
  border-radius: 0.5rem;
  padding: 1em 1.5em;
  margin: 0 auto;
  height: max-content;

  @include element("header") {
    margin-bottom: 2.5rem;
  }
  @include element("footer") {
    margin-top: 3rem;
  }

  & form .btn{
    margin-top: 3rem;
  }

  & .btn {
    padding: 0.4rem 1rem;
  }

  @include media('md-min') {
    margin: auto;
  }

  @include media('sm-max') {
    width: 95% !important;
    overflow-x: auto;
  }

}

.Overlay {
  position: fixed;
  inset: 0;
  background-color: $modal-overlay-background;
  transition: all 0.1s ease;
  display: flex;
  overflow-y: auto;
  padding: 3rem 0;
  z-index: $modal-z-index;
}

.ReactModal__Body {
  @include modifier('open') {
    overflow-y: hidden;
  }
}
