@import '../abstracts/index';

.pagination {
  @include element('item') {
    cursor: pointer;
  }
  @include element('link') {
    position: relative;
    cursor: pointer;
    display: block;
    padding: $pagination-padding-y $pagination-padding-x;
    line-height: 1.25;
    background-color: $pagination-bg;
    color: $pagination-color !important;
    border: $pagination-border-width solid $pagination-border-color !important;
    transition: $pagination-transition;

    &.disabled span {
      background-color: $pagination-disabled-bg !important;
      color: $pagination-disabled-color !important;
      border-color: $pagination-disabled-border-color !important;
    }

    @include on-event {
      background-color: #19b5fe;
    }
  }
}
