@import '../abstracts/index', '../base/helpers';

.search {
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;

  & > div {
    width: 49%;
    @include media("sm-max") {
      width: 100%;
    }
  }

  & .form__div {
    width: 100%;
  }

  @include element("filter") {
    padding: 30px;
    background-color: $x7;


    @include media("sm-max") {
      width: 100%;
      flex-basis: auto;
    }

    &-wrapper {
      @include media("xs-max") {
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  @include element("close-filter-btn") {
    position: absolute;
    left: 10px;
    display: flex;
    z-index: 10;
    @extend %center-vertically;

    & i {
      font-size: 20px;
      color: red !important;
    }
    & + .search__padding-btn {
      padding-left: 35px;
    }
  }

  @include element("btn") {
    & button {
      font-size: $font-size-base !important;
    }
    @media (max-width: 575.98px) {
      width: 100%;
      margin-top: 25px;
    }
  }
}


