// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------

.footer {
  height: 70px;
  background-color: transparent;
  padding: 0 110px 0 30px;
  position: relative;
  display: grid;
  //extra small devices
  @include media('xs-max') {
    padding: 0;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    //extra small devices
    @include media('xs-max') {
      flex-direction: column;
      justify-content: space-evenly;
    }
  }

  & img {
    position: absolute;
    right: 0;
    top: 45%;
    //extra small devices
    @include media('xs-max') {
      display: none;
    }
  }

  & .telegram-robot {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: $footer-icon-color;

    & a {
      color: $footer-icon-color;
    }
  }

  & .copyright {
    margin: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
}
