.navigation {
  position: fixed;
  right: 0;
  height: 100vh;
  top: 70px;
  left: 0;
  width: $sidebar-width;
  padding-bottom: 15px;
  background: $sidebar-background;
  z-index: $sidebar-z-index;
  transition:$backdrop-transition;
  //medium devices
  @include media('md-max') {
    z-index: 1100;
  }

  &-main {
    position: fixed;
    height: 100vh;
    right: -$sidebar-width;
    top: 0;
    left: 0;
    width: $sidebar-width;
    padding-bottom: 15px;
    background: $sidebar-box-background;
    z-index: $sidebar-z-index;
    transition: $backdrop-transition;

    &.open {
      right: 0;
    }
  }

  &.open {
    right: 0;
  }
}

.mobile-menu,
.close-menu {
  color: white;
}
.mobile-menu svg,
.close-menu svg {
  font-size: 2.5rem;
  cursor: pointer;
}

//large devices
@include media('lg-min') {
  .mobile-menu,
  .close-menu {
    display: none !important;
  }
}

//medium devices
@include media('md-max') {
  .navigation {
    right: -$sidebar-width;
    top: 0;

    &.open {
      right: 0;
    }
  }

  .mobile-menu,
  .close-menu {
    display: inline-block;
    margin-left: 1.3rem;
  }
}

.navigationApps {
  & > li {
    & a {
      font-weight: 700;
      color: $sidebar-list-color;
      display: flex;
      align-items: center;
      position: relative;

      &:after {
        content: '';
        position: absolute;
        right: -15px;
        height: 0;
        width: 5px;
        background-color: $sidebar-list--after-background;
      }

      & svg {
        font-size: 2.2rem !important;
        margin-left: 20px;
      }

      &.active-side-bar {
        color: $sidebar-list--active;

        &:after {
          height: 100%;
        }
      }
    }
  }
}

.navigation-menu-body li {
  padding: 10px 15px;
}

.navigation-menu-body li a {
  padding: 13px;
  font-size: 16px;
}

.fa-times {
  font-size: 27px;
  color: $sidebar-icon-color;
}

.fa-bars,
.fa-times {
  cursor: pointer;
}

.navBar-item li {
  display: inline-block;
}

@include media('md-max') {
  .navBar-item-right li {
    display: none !important;
  }
}
.panel {
  margin-right: $sidebar-width;
  margin-top: 60px;
  @media (max-width: 991.98px) {
    margin-right: 0;
    padding: 0;
  }
}

.disabled,
.active,
.active-link,
.active-side-bar {
  pointer-events: none;
}

.user-setting:focus {
  box-shadow: none !important;
}
