// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

$x1: #19b5fe;
$x2: #222222;
$x3: #505050;
$x4: #b9b9b9;
$x5: #4e4e4e;
$x6: rgb(240, 240, 240);
$x7: rgb(57, 57, 57);
$x8: #00b063;
$x9: #d9d9d9;
$x10: #707070;
$x11: #ead727;
$x12: #4e4e4e;
$x13: #929292;
$x14: #1f1f1f;
$x15: #e4e4e4;
$x17: #676767;

@import "../../../../node_modules/bootstrap/scss/functions";

//Include any default variable overrides here

//body
$body-bg:$x2;
$body-text-align:right;

//typography
$font-size-base: 1.6rem;
$font-family-base: irYekan;
$headings-font-weight: bold;
$headings-color:$x6;
$headings-margin-bottom:1.3rem;

//table
$table-cell-padding-x: 1.4rem;
$table-cell-padding-y: 1.4rem;
$table-cell-vertical-align:middle;

//card
$card-border-radius:.8rem;

//select
$form-select-bg:$x7;
$form-select-color:white;
$form-select-border-color:$x4;
$form-select-padding-y:1.3rem;
$form-select-indicator-color:white;
$form-select-padding-x:1.3rem;
$input-group-addon-border-color:transparent;

//input
$input-border-color:transparent;
$input-bg:white;

//link
$link-decoration:none;
$link-color: $x1;
$link-hover-color: $x1;


@import "../../../../node_modules/bootstrap/scss/variables";


$base-url: 'Assets/';

$direction-base: rtl;

$min-width-breakpoints: (
        'sm-min': (
                min-width: 576px,
        ),
        'md-min': (
                min-width: 768px,
        ),
        'lg-min': (
                min-width: 992px,
        ),
        'xl-min': (
                min-width: 1200px,
        ),
        'xxl-min': (
                min-width: 1400px,
        ),
);

$max-width-breakpoints: (
        'xs-max': (
                max-width: 575.98px,
        ),
        'sm-max': (
                max-width: 767.98px,
        ),
        'md-max': (
                max-width: 991.98px,
        ),
        'lg-max': (
                max-width: 1199.98px,
        ),
        'xl-max': (
                max-width: 1399.98px,
        ),
);

$breakpoints: map-merge(
                $min-width-breakpoints,
                $max-width-breakpoints
);


$zindex-modal: 1110;
$zindex-tooltip: 1105;
$zindex-sidebar: 1100;
$zindex-header: 90;

//backdrop
$backdrop-background-color: black;
$backdrop-z-index: $zindex-modal-backdrop;
$backdrop-transition:  .3s ease;
$backdrop-opacity--open: 0.5;

//sidebar
$sidebar-width: 270px;
$sidebar-z-index: $zindex-sidebar;
$sidebar-background: $x7;
$sidebar-transition: $backdrop-transition;
$sidebar-box-background: $x2;
$sidebar-list-color: $x4;
$sidebar-list--after-background: $x1;
$sidebar-list--active: $x6;
$sidebar-icon-color: white;

//modal
$modal-background: #393939;
$modal-overlay-background: #0000009e;
$modal-z-index: $zindex-modal;


//dropdown menu
$dropdown-menu-background: white;
$dropdown-menu-caret-background: $dropdown-menu-background;
$dropdown-menu-list--hover: $x1;
$dropdown-menu-list-color: $x2;

//footer
$footer-icon-color: $x6;

//mina header
$header-height: 70px;
$header-list-color: $x4;
$header-list--after-background: $x1;
$header-list--active: $header-list--after-background;
$header-login-background: $x5;

//panel header
$panel-header-background: $x2;
$panel-header-height: $header-height;
$panel-header-z-index: $zindex-header;

//tooltip
$tooltip-z-index: $zindex-tooltip;
$tooltip-font-size: 1.4rem;
$tooltip-max-width: 200px;
$tooltip-color: $x4;
$tooltip-bg: black;
$tooltip-border-radius: $border-radius;
$tooltip-opacity: 0.9;
$tooltip-padding-y: $spacer * 0.25;
$tooltip-padding-x: $spacer * 0.5;
$tooltip-arrow: 0.8rem;
$tooltip-arrow-color: $tooltip-bg;
$tooltip-success: var(--bs-green);
$tooltip-error: var(--bs-red);
$tooltip-info: var(--bs-info);
$tooltip-warning: var(--bs-yellow);

//pagination
$pagination-padding-y: .7rem;
$pagination-padding-x: 1.3rem;

$pagination-color: white;
$pagination-color-active: $x1;
$pagination-bg: inherit;
$pagination-border-width: $border-width;
$pagination-border-color: rgba(155, 155, 155, 0.2);

$pagination-disabled-color: white;
$pagination-disabled-bg: rgb(4, 7, 26);
$pagination-disabled-border-color: $pagination-border-color;

$pagination-transition: color 0.15s ease-in-out,
background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
box-shadow 0.15s ease-in-out;

//table
$table-th-background-color: $x1;
$table-th-color: white;
$table-cell-color: $x13;

//general
$general-space: 20px;
